[submodule "apps/servers/bune-auth"]
	path = apps/servers/bune-auth
	url = https://github.com/bunedev/bune-auth.git
[submodule "apps/servers/bune-gateway"]
	path = apps/servers/bune-gateway
	url = https://github.com/bunedev/bune-gateway.git
[submodule "apps/clients/bunu"]
	path = apps/clients/bunu
	url = https://github.com/bunedev/bunu.git
[submodule "apps/servers/bune-blog"]
	path = apps/servers/bune-blog
	url = https://github.com/bunedev/bune-blog.git
[submodule "apps/servers/bune-crawler"]
	path = apps/servers/bune-crawler
	url = https://github.com/bunedev/bune-crawler.git
[submodule "apps/servers/bune-payment"]
	path = apps/servers/bune-payment
	url = https://github.com/bunedev/bune-payment.git
[submodule "apps/servers/bune-base"]
	path = apps/servers/bune-base
	url = https://github.com/bunedev/bune-base.git
